.nav-div{
    width: 100%;
    height: 5em;
    background-color: #ffbe5d;
    padding: 10px;
}

.nav-in-div{
    position: relative;
    bottom: 20px;
}

.logo{
    width: 100%;
    height: 75px;
    margin-right: 50px;
}