.nav-div{
    width: 100%;
    height: 5em;
    background-color: #ffbe5d;
    padding: 10px;
}
.fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
.header-main-div{
    z-index: 1000;
}

.nav-in-div{
    position: relative;
    bottom: 20px;
}

.logo{
    width: 100%;
    height: 75px;
    margin-right: 50px;
}