.dateheading {
  position: absolute;
  top: 50px;
  left: 10px;
  text-align: center;
  font-style: italic;
  line-height: 30px;
  padding: 20px;
  height: 100%;
}





/* @media screen and (max-width: 640px) {
  .heroImg{
    max-width: 100vw;
    min-width: 100vw;
    max-height: 40vh;
    min-height: 40vh;
  }
  } */

@media screen and (min-width: 640px) {
.heroImg{
  max-width: 50vw;
  min-width: 50vw;
  max-height: 50vh;
  min-height: 50vh;
}
}