.about-heading {
    background: url('https://images.unsplash.com/photo-1687639166604-b91cf403fe61?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-div-2 p {
    margin-top: 5em;
    text-align: justify;
}

.bullet-point{
    height: 3em;
    width: auto;
}

@media (max-width : 768px){
    .about-div-1{
        display: none;
    }

    .about-div-2 p {
        margin-top: 1em;
    }

    .inner-about-sec{
        flex-direction: column;
    }
    .about-sec {
        width: 100%;
    }
}