.about-div-2 p {
    margin-top: 5em;
    text-align: justify;
}

.bullet-point{
    height: 3em;
    width: auto;
}

@media (max-width : 768px){
    .about-div-1{
        display: none;
    }

    .about-div-2 p {
        margin-top: 1em;
    }

    .inner-about-sec{
        flex-direction: column;
    }
    .about-sec {
        width: 100%;
    }
}