.contact-heading {
    background: url('../../src/assets/images/banner.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form{
    height: 500px;
}
.contact-address{
    height: 500px;
}